
html{
  background color: #fff;
}
body {
  font-family: "Helvetica", "Arial", sans-serif;
  line-height: 1.5;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-areas:
  "header header"
  "nav nav"
  "main main"
  "footer footer";
  background-color: #fff
}

header{
  grid-area: header;
  text-align: center;
}


nav{
  grid-area: nav;
}

main{
  grid-area: main;

}
footer {
  grid-area: footer;
}
section {
  background-color: #FAF4F4;
  padding: 15px;
  margin: 15px;
  border-radius: 8px;


}
img {
margin: 20px;
padding: 110px;
padding-left: 40px;
padding-right: 40px;
border-radius: 8px;

}
h1 {
 font-family: 'Jost', sans-serif;
  font-size: 115px;
  color: #f90707;
}

ul{
  list-style-type: none;
  margin: 15px;
  padding: 15px;
  overflow: hidden;
  background-color: #3844FF;
  text-shadow: 2px 2px 8px #FF0000;

}

li{
  display: inline;
}

li a{
  color: white;
  text-align: center;
  padding: 15px 15px;
  text-decoration: none;


}

li a:hover {
  background-color: #f90707;
  opacity: 65%;
}

a {
  color #000000;
  text-decoration: underline;
}
a:hover {
  color: #000000;
  text-decoration: none;
}

h2 {
  font-size: 16px;
}

p {
  font-size: 14px;
}
.heading{
  font-family: Jost

}
.big{
  text-align: center;
  font-family: Libre_Baskerville;
  font-size: 24px

}
.small{
  font-family: Libre_Baskerville;
  font-size: 24px
}
